<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

        {% block title %}
            <title>Ecoleta</title>
        {% endblock title %}

        <link rel='stylesheet' href='/styles/main.css'>
        <link rel='stylesheet' href='/styles/responsive.css'>

        {% block styles %}{% endblock styles %}
    </head>

    <body>
        <div id='{{ pageID }}'>
            {% block content %}{% endblock content %}
        </div>
        {% block modal %}{% endblock modal %}
    </body>

    {% block scripts %}{% endblock scripts %}
</html>